/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color:#FEFFCC;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.skills-icons{
  height: 80px;
}

#express-icon{
  height: 40px;
}

#mongo{
  height: 50px;
}

#react{
  height: 90px;
}

#mongo-col{
  position: relative;
  top: 30px;
}

#express-col{
  position:relative;
  top: 35px;
}

#jQuery-col{
  position:relative;
  top: 35px;
}
#jquery{
width: 184px;
height: 50px;
}
.icon-footer{
  height: 100px;
  position: relative;
  left: 200px;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: #B04438;
}
.navbar{
  background:#466E90;

}
.footer-copyright{
    background:#466E90;
}
.card-pic{
  height: 250px;
}
.card .card-reveal{
  background-color: #466e90;
}

.icon-links {
    height: 40px;
    margin-top: 10px;
}
#index-banner {
    width: 100%;
}
#index-head{
  color:black;
  font-weight: bold;
}
