/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
nav ul a,
nav .brand-logo {
    color:#FEFFCC;
    line-height: 39px;
    position: relative;
    left: 274px;
}
nav{
  line-height: 39px;

}


h1{
  font-size: 7.2rem;
}
p {
  line-height: 2rem;
}


.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 660px) {
  #index-banner .section {
    top: 0;
  }
  #index-head{
    font-weight: normal;

  }
  h3{
    font-size: 1.92rem;
  }
  #head{
    font-size: 7.2rem;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.skills-icons{
  height: 80px;
}

#express-icon{
  height: 40px;
}

#mongo{
  height: 50px;
}

#react{
  height: 90px;
}

#mongo-col{
  position: relative;
  top: 30px;
}

#express-col{
  position:relative;
  top: 35px;
}

#jQuery-col{
  position:relative;
  top: 35px;
}
#jquery{
width: 184px;
height: 50px;
}
#contact{
  width:100%;
}
.icon-footer{
  height: 100px;
  position: relative;
  left: 200px;
}
.page-footer{
   background: #029eab;
}
.page-footer .footer-copyright{
  background: #029eab;
}
.apps{
  font-size: 18px;
}


body{

   background: #029eab;
     font-family: 'komika_displayregular'
}
.navbar{
  background:#cee4e2;

}
.card-pic{
  height: 250px;
}
.card .card-reveal{
  background-color: #cfd1dd;
}

.footer-copyright{
     background: #029eab;
         width: 184%;
         color:white;
}


.icon-links {
    height: 40px;
    margin-top: 10px;
}
#index-banner {
    width: 100%;
}
#index-head{
  color:#cee4e2;
  font-weight: bold;
   font-family: 'capture_itregular';
   line-height: 0px;
}
#head{
 font-family: 'capture_itregular';
  color:#016300;
  font-size:12.2rem; 
}
.input-field .prefix ~ input,{
  color:white;
}
@font-face {
  font-family: 'alpha_echoregular';
  src: url('alpha_echo-webfont.eot');
  src: url('alpha_echo-webfont.eot?#iefix') format('embedded-opentype'),
       url('alpha_echo-webfont.woff2') format('woff2'),
       url('alpha_echo-webfont.woff') format('woff'),
       url('alpha_echo-webfont.ttf') format('truetype'),
       url('alpha_echo-webfont.svg#alpha_echoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family:'whitehallregular';
  src: url('whitehall-webfont.eot');
  src: url('whitehall-webfont.eot?#iefix') format('embedded-opentype'),
       url('whitehall-webfont.woff2') format('woff2'),
       url('whitehall-webfont.woff') format('woff'),
       url('whitehall-webfont.ttf') format('truetype'),
       url('whitehall-webfont.svg#whitehallregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'capture_itregular';
    src: url('Capture_it-webfont.eot');
    src: url('Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('Capture_it-webfont.woff2') format('woff2'),
         url('Capture_it-webfont.woff') format('woff'),
         url('Capture_it-webfont.ttf') format('truetype'),
         url('Capture_it-webfont.svg#capture_itregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'komika_displayregular';
    src: url('Komika_display-webfont.eot');
    src: url('Komika_display-webfont.eot?#iefix') format('embedded-opentype'),
         url('Komika_display-webfont.woff2') format('woff2'),
         url('Komika_display-webfont.woff') format('woff'),
         url('Komika_display-webfont.ttf') format('truetype'),
         url('Komika_display-webfont.svg#komika_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea{
  border-bottom: 1px solid white;
}



